<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>p1</servlet-name>
        <servlet-class>web.p1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntoUno</servlet-name>
        <servlet-class>com.mycompany.reto12.PuntoUno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntoDos</servlet-name>
        <servlet-class>com.mycompany.reto12.PuntoDos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntoTres</servlet-name>
        <servlet-class>com.mycompany.reto12.PuntoTres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntoCuatro</servlet-name>
        <servlet-class>com.mycompany.reto12.PuntoCuatro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntoCinco</servlet-name>
        <servlet-class>com.mycompany.reto12.PuntoCinco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>p1</servlet-name>
        <url-pattern>/p1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntoUno</servlet-name>
        <url-pattern>/PuntoUno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntoDos</servlet-name>
        <url-pattern>/PuntoDos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntoTres</servlet-name>
        <url-pattern>/PuntoTres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntoCuatro</servlet-name>
        <url-pattern>/PuntoCuatro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntoCinco</servlet-name>
        <url-pattern>/PuntoCinco</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
